@import "tailwindcss";

.mobile-menu {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.mobile-menu.open {
  transform: translateX(0);
}
.overlay {
  transition: opacity 0.3s ease-in-out;
}
.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
.overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.image_animation {
  position: relative;
  animation: mymove 2s;
}

@keyframes mymove {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
